LOG_LEVEL=debug

MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_ROOT_USER=
MONGODB_ROOT_PASSWORD=
MONGODB_DATABASE=ce

MSSQL_HOST=localhost
MSSQL_PORT=1433
MSSQL_USER=
MSSQL_SA_PASSWORD=

API_PORT=8080

SCRIPT_BATCH_SIZE=500
MAX_GOROUTINES=10

COURSE_IDS=1,2,3