LOG_LEVEL=debug

MONGODB_HOST=localhost
MONGODB_PORT=
MONGODB_ROOT_USER=
MONGODB_ROOT_PASSWORD=
MONGODB_DATABASE=ce

MSSQL_HOST=localhost
MSSQL_PORT=
MSSQL_USER=
MSSQL_SA_PASSWORD=

SCRIPT_BATCH_SIZE=500
MAX_GOROUTINES=10

COURSE_IDS=1,2,3